{% extends "base.html" %}

{% block body %}

    <header>
        <h2>Mounted devices</h2>
        <p class="text-muted">{{ devices | length }} mounted devices found</p>
    </header>

    {% import "components/device_item.html" as device_item %}

    <div class="device-list d-flex flex-wrap gap-4 justify-content-start align-items-start align-content-start">
        {% for device in devices %}
            {{ device_item.device_item(device) }}
        {%endfor%}
    </div>

{% endblock %}
