{% extends "base.html" %}

{% block body %}

    <script>

        let folder = {{ folder | tojson | safe }};

        const query_params = new URLSearchParams(window.location.search);
        const current_path = query_params.get("path");

        var clicked_path = {};

        function back() {
            const path_splitted = current_path.split("/");
            path_splitted.pop();
            const back = path_splitted.join("/");
            console.log(back);
            if (back) {
                window.location = `/folder?path=${back}`;
            } else {
                window.location = "/";
            }
        }

        function open_folder(entry) {
            if (entry.is_dir) {
                window.location = `/folder?path=${entry.abs}`;
            }
        }

    </script>

    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data" class="d-flex gap-4">
        <button id="files-btn" class="d-flex gap-2 align-items-center btn btn-light" onclick="hideUploadSuccessAlert()">
            <img src="{{ url_for('static', filename='img/upload.svg') }}" alt="Upload" width="24" height="24">
            <p class="m-0">Upload <span class="message opacity-75"></span></p>
        </button>
        <input type="file" name="files" id="files" accept="{% for ext in allowed_extensions %}.{{ ext }}{% if not loop.last %}, {% endif %}{% endfor %}" style="display: none;" multiple required>
        <button id="upload-btn" type="submit" class="btn btn-primary" style="display: none;">Upload</button>
    </form>

    <div id="upload-success-alert" class="alert alert-primary alert-dismissible fade show" role="alert" style="display: none;">
        <strong>Upload completed!</strong> <span class="message"></span> <span>(<a onclick="window.location.reload()" href="#">Reload</a> page to see changes)</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <header class="d-flex gap-4 align-items-center">
        <button onclick="back()" class="btn btn-icon btn-light">
            <img src="{{ url_for('static', filename='img/back.svg') }}" alt="File" width="24" height="24">
        </button>
        <h3 class="m-0">{{ current_path }}</h3>
    </header>

    {% import "components/folder_item.html" as folder_item %}

    <div id class="d-flex flex-column gap-2">
        {% for item in folder %}
            {{ folder_item.folder_item(item) }}
        {%endfor%}
    </div>

    <script>

        var folder_items = document.querySelectorAll(".folder-item");

        if (folder_items) {
            folder_items.forEach(element => {
                element.addEventListener("mouseover", () => {
                    element.classList.add("bg-primary", "bg-opacity-10"); 
                });
                element.addEventListener("mouseout", () => {
                    element.classList.remove("bg-primary", "bg-opacity-10");
                });
            });
        }

        hideUploadSuccessAlert();

        document.getElementById("files-btn").addEventListener("click", () => {
            document.getElementById("upload-form").reset();
            document.getElementById("files").click();
        });

        document.getElementById("files").addEventListener("change", (event) => {
            console.log(event.target.files);
            const selected = event.target.files.length;
            if (selected > 0) {
                document.getElementById("upload-btn").style.display = "block";
            } else {
                document.getElementById("upload-btn").style.display = "none";
            }
            document.getElementById("files-btn").querySelector(".message").innerHTML = `${selected} files selected`;
        });

        document.getElementById("upload-form").addEventListener("submit", (event) => {

            hideUploadSuccessAlert();

            event.preventDefault();

            let files = document.getElementById("files").files;

            if (files && files.length === 0) {
                return;
            }

            let formData = new FormData();

            for (let file of files) {
                formData.append("files", file);
            }

            formData.append("path", current_path);

            fetch("/upload", {
                method: "POST", 
                body: formData
            }).then(res => res.json())
                .then(res => {
                    console.log(res);
                    showUploadSuccessAlert(`${res.length}/${files.length} files saved successfully`);
                    document.getElementById("upload-form").reset();
                });

        });

        function showUploadSuccessAlert(message) {
            const alert = document.getElementById("upload-success-alert"); 
            if (alert) {
                alert.style.display = "block";
                if (message) {
                    alert.querySelector(".message").innerHTML = message;
                }
            }
        }

        function hideUploadSuccessAlert() {
            const alert = document.getElementById("upload-success-alert"); 
            if (alert) {
                alert.style.display = "none";
            }
        }

    </script>

{% endblock %}
