{% extends "base.html" %}

{% block body %}

    <script>

        let folder = {{ folder | tojson | safe }};

        const query_params = new URLSearchParams(window.location.search);
        const current_path = query_params.get("path");

        var clicked_path = {};

        function back() {
            const path_splitted = current_path.split("/");
            path_splitted.pop();
            const back = path_splitted.join("/");
            console.log(back);
            if (back) {
                window.location = `/folder?path=${back}`;
            } else {
                window.location = "/";
            }
        }

        function open_folder(entry) {
            if (entry.is_dir) {
                window.location = `/folder?path=${entry.abs}`;
            }
        }

    </script>

    <header class="d-flex gap-4 align-items-center">
        <button onclick="back()" class="btn btn-icon btn-light">
            <img src="{{ url_for('static', filename='img/back.svg') }}" alt="File" width="24" height="24">
        </button>
        <h3 class="m-0">{{ current_path }}</h3>
    </header>

    {% import "components/folder_item.html" as folder_item %}

    <div id class="d-flex flex-column gap-2">
        {% for item in folder %}
            {{ folder_item.folder_item(item) }}
        {%endfor%}
    </div>

    <script>

        var folder_items = document.querySelectorAll(".folder-item");

        if (folder_items) {
            folder_items.forEach(element => {
                element.addEventListener("mouseover", () => {
                    element.classList.add("bg-primary", "bg-opacity-10"); 
                });
                element.addEventListener("mouseout", () => {
                    element.classList.remove("bg-primary", "bg-opacity-10");
                });
            });
        }

        // var files = document.querySelectorAll(".file");
        
        // if (files) {
        //     files.forEach(element => {
        //         element.addEventListener("mouseover", () => {
        //             let options = element.querySelector(".options");
        //             if (options) {
        //                 options.style.display = "block";
        //             } 
        //         });
        //         element.addEventListener("mouseout", () => {
        //             let options = element.querySelector(".options");
        //             if (options) {
        //                 options.style.display = "none";
        //             } 
        //         });
        //     });
        // }
    
    
    </script>

{% endblock %}
